<html>
  <head>
    <link rel="stylesheet" href="/content/css/index.css">
  </head>
  <center>
    <h1 style="font-size: 50%">
      Oops, an error occurred
    </h1>
		<h2>
			{{ err }}
		</h2>
  </center>
</html>