<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/content/css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta property="og:title" content="Drift" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://ant-network.net" />
    <meta property="og:image" content="/content/images/logo.png" />
    <meta property="og:description" content="Make internet free." />
    <meta name="theme-color" content="#FF1493">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="icon" type="image/png" href="/content/images/logo.png">
    
    <title>Drift | Browse the web freely</title>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
			* {
				font-size: 50;
			}
		</style>
  </head>
  <body>    
    <center>
      <p id="blockedSite">
				
			</p>
			<a>If you think this is a mistake you can contact System69#9874 On The </a><a href="https://discord.gg/ublock/">TN Discord</a>
    </center>
    
    <script src="/content/js/index.js"></script>
		<script>
			var blocked = getCookie('proxyUrl')
			var siteDispl = document.getElementById('blockedSite')
			siteDispl.innerText = `Looks Like ${blocked} is Blocked`
		</script>
  </body>
</html>