<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/content/css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta property="og:title" content="Drift" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://ant-network.net" />
    <meta property="og:image" content="/content/images/logo.png" />
    <meta property="og:description" content="Make internet free." />
    <meta name="theme-color" content="#FF1493">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="icon" type="image/png" href="/content/images/logo.png">
    
    <title>Drift | Browse the web freely</title>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script>
    function clipbord(id){
      var code = id;
      navigator.clipboard.writeText(code);
      var alertText = document.getElementById('alertText')
      
      alertText.style.display = "block"
      setTimeout(3000)
      alertText.style.display = "none"
    }
  </script>
  </head>
  <body>
    <center>
    <div class="navBar">
      <ul>
        <li><a href='/games'>Games</a></li>
        <li><a href='/bookmarks'>Bookmarklets</a></li>
        <li><a href='/'>Home</a></li>
      </ul>
    </div>
    <h2 style="font-size:20px; color:lightgrey;">Bookmarklets</h2>

    <div class="alertBox">
      <a id="alertText" style="display: none;">Text Copied</a>
    </div>
      
    <div class="bookmarks">
      <div class="bookmark">
        <p onclick="clipbord(javascript:var%20script%20=%20document.createElement('script');%20script.src='//tab-js.jimmynuetron.repl.co/script.js';%20document.body.appendChild(script);void(0);">Tab JS</p>
      </div>
      <div class="bookmark">
        <p onclick="clipbord('javascript:(function()%7Bvar%20js=document.body.appendChild(document.createElement(%22script%22));js.onerror=function()%7Balert(%22Sorry,%20the%20script%20could%20not%20be%20loaded.%22)%7D;js.src=%22https://rawgit.com/Krazete/bookmarklets/master/tri.js%22%7D)();')">3D Webpage</p>
      </div>
    </div>
    </center>
    <script src="/content/js/index.js"></script>
  </body>
</html>