<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/content/css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta property="og:title" content="Drift" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://ant-network.net" />
    <meta property="og:image" content="/content/images/logo.png" />
    <meta property="og:description" content="Make internet free." />
    <meta name="theme-color" content="#FF1493">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="icon" type="image/png" href="/content/images/logo.png">
    
    <title>Drift | Browse the web freely</title>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
  </head>
  <body>    
    <center>
    <div class="navBar">
      <ul>
        <li><a href='/games'>Games</a></li>
        <li><a href='/bookmarks'>Bookmarklets</a></li>
        <li><a href='/'>Home</a></li>
      </ul>
    </div>
    <h2 style="font-size:20px; color:lightgrey;">Game Library</h2>
		<div class="game">
			<div class="game"><a href='/game/amongus'><img src="/content/images/amongus.jpeg" width="100px" height="100px" style="text-align: center;"></img><br></br><a>amongus</a>
        </a>
      </div><div class="game"><a href='/game/chromedino'><img src="/content/images/chromedino.jpeg" width="100px" height="100px" style="text-align: center;"></img><br></br><a>chromedino</a>
        </a>
      </div><div class="game"><a href='/game/edge'><img src="/content/images/edge.jpeg" width="100px" height="100px" style="text-align: center;"></img><br></br><a>edge</a>
        </a>
      </div><div class="game"><a href='/game/hijack'><img src="/content/images/hijack.jpeg" width="100px" height="100px" style="text-align: center;"></img><br></br><a>hijack</a>
        </a>
      </div><div class="game"><a href='/game/karlson'><img src="/content/images/karlson.jpeg" width="100px" height="100px" style="text-align: center;"></img><br></br><a>karlson</a>
        </a>
      </div><div class="game"><a href='/game/legendofzelda'><img src="/content/images/legendofzelda.jpeg" width="100px" height="100px" style="text-align: center;"></img><br></br><a>legendofzelda</a>
        </a>
      </div><div class="game"><a href='/game/mariokart'><img src="/content/images/mariokart.jpeg" width="100px" height="100px" style="text-align: center;"></img><br></br><a>mariokart</a>
        </a>
      </div><div class="game"><a href='/game/marioparty'><img src="/content/images/marioparty.jpeg" width="100px" height="100px" style="text-align: center;"></img><br></br><a>marioparty</a>
        </a>
      </div><div class="game"><a href='/game/minecraft-classic'><img src="/content/images/minecraft-classic.jpeg" width="100px" height="100px" style="text-align: center;"></img><br></br><a>minecraft-classic</a>
        </a>
      </div><div class="game"><a href='/game/minecraft'><img src="/content/images/minecraft.jpeg" width="100px" height="100px" style="text-align: center;"></img><br></br><a>minecraft</a>
        </a>
      </div><div class="game"><a href='/game/osjs'><img src="/content/images/osjs.jpeg" width="100px" height="100px" style="text-align: center;"></img><br></br><a>osjs</a>
        </a>
      </div><div class="game"><a href='/game/paper-io'><img src="/content/images/paper-io.jpeg" width="100px" height="100px" style="text-align: center;"></img><br></br><a>paper-io</a>
        </a>
      </div><div class="game"><a href='/game/papermario'><img src="/content/images/papermario.jpeg" width="100px" height="100px" style="text-align: center;"></img><br></br><a>papermario</a>
        </a>
      </div><div class="game"><a href='/game/slope'><img src="/content/images/slope.jpeg" width="100px" height="100px" style="text-align: center;"></img><br></br><a>slope</a>
        </a>
      </div><div class="game"><a href='/game/supersmash'><img src="/content/images/supersmash.jpeg" width="100px" height="100px" style="text-align: center;"></img><br></br><a>supersmash</a>
        </a>
      </div><div class="game"><a href='/game/tabs'><img src="/content/images/tabs.jpeg" width="100px" height="100px" style="text-align: center;"></img><br></br><a>tabs</a>
        </a>
      </div><div class="game"><a href='/game/warioware'><img src="/content/images/warioware.jpeg" width="100px" height="100px" style="text-align: center;"></img><br></br><a>warioware</a>
        </a>
      </div>
      </div>
    </center>
    <script src="/content/js/index.js"></script>
  </body>
</html>