<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/content/css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta property="og:title" content="Drift" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://ant-network.net" />
    <meta property="og:image" content="/content/images/logo.png" />
    <meta property="og:description" content="Make internet free." />
    <meta name="theme-color" content="#FF1493">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="icon" type="image/png" href="/content/images/logo.png">
    
    <title>Drift | Browse the web freely</title>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
  </head>
  <body>    
    <center>
    <div class="navBar">
      <ul>
        <li><a href='/games'>Games</a></li>
        <li><a href='/bookmarks'>Bookmarklets</a></li>
        <li><a href='/'>Home</a></li>
      </ul>
    </div>
    <h2 style="font-size:20px; color:lightgrey;">Game Library</h2>

    <div class="gamesContainer">
      <div class="game">
        <a href='/game/WarioWare'>
          <img src="/content/images/warioware.jpeg" width="100px" height="100px" style="text-align: center;"></img><br></br>
          
          <a>Wario Ware</a>
          <p style="font-sieze: 5px; z-index: 5;">For The Gamebois. </p>
        </a>
      </div>
      
      <div class="game">
        <a href='/game/OSjs'>
          <img src="/content/images/OS.jpeg" width="100px" height="100px" style="text-align: center;"></img><br></br>
          
          <a>OS.js</a>
          <p style="font-sieze: 5px; z-index: 5;">Another Emu</p>
        </a>
      </div>
			
      <div class="game">
        <a href='/game/AmongUs'>
          <img src="/content/images/AmongUs.jpeg" width="100px" height="100px" style="text-align: center;"></img><br></br>
          
          <a>Among Us</a>
          <p style="font-sieze: 5px; z-index: 5;"> s u s s y </p>
        </a>
      </div>
			
      <div class="game">
        <a href='/game/MarioParty'>
          <img src="/content/images/marioparty.jpeg" width="100px" height="100px" style="text-align: center;"></img><br></br>
          
          <a>Mario Party DS</a>
          <p style="font-sieze: 5px; z-index: 5;">Not As Good As Mario Party 9</p>
        </a>
      </div>
			
			<div class="game">
        <a href='/game/SuperSmash'>
          <img src="/content/images/supersmash.jpeg" width="100px" height="100px" style="text-align: center;"></img><br></br>
          
          <a>Super Smash Bros</a>
          <p style="font-sieze: 5px; z-index: 5;">On The N64!</p>
        </a>
      </div>
			
			<div class="game">
        <a href='/game/PaperMario'>
          <img src="/content/images/PaperMario.jpeg" width="100px" height="100px" style="text-align: center;"></img><br></br>
          
          <a>Paper Mario</a>
          <p style="font-sieze: 5px; z-index: 5;">:D</p>
        </a>
      </div>

			<div class="game">
        <a href='/game/LegendOfZelda'>
          <img src="/content/images/legend.jpeg" width="100px" height="100px" style="text-align: center;"></img><br></br>
          
          <a>Legend Of Zelda Ocarina Of Time</a>
          <p style="font-sieze: 5px; z-index: 5;">Had to</p>
        </a>
      </div>
    </div>
    </center>
    <script src="/content/js/index.js"></script>
  </body>
</html>