<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/content/css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta property="og:title" content="Drift" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://ant-network.net" />
    <meta property="og:image" content="/content/images/logo.png" />
    <meta property="og:description" content="Make internet free." />
    <meta name="theme-color" content="#FF1493">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="icon" type="image/png" href="/content/images/logo.png">
    
    <title>Drift | Browse the web freely</title>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
  </head>
  <body>    
    <center>
    <div class="navBar">
      <ul>
        <li><a href='/games'>Games</a></li>
        <li><a href='/'>Home</a></li>
      </ul>
    </div>
    <h2 style="font-size:20px; color:lightgrey;">Game Library</h2>

    <div class="gamesContainer">
      <div class="game">
        <a href='/game/WarioWare'>
          <img src="/content/images/warioware.jpeg" width="100px" height="100px" style="text-align: center;"></img><br></br>
          
          <a>Wario Ware</a>
          <p style="font-sieze: 5px; z-index: 5;">For the gamers.</p>
        </a>
      </div>
      <div class="game">
        <a href='/game/Kolbri'>
          <img src="/content/images/kolbri.jpeg" width="100px" height="100px" style="text-align: center;"></img><br></br>
          
          <a>Kolbri OS</a>
          <p style="font-sieze: 5px; z-index: 5;">Made By the OQTeam</p>
        </a>
      </div>
    </div>
    </center>
    <script src="/content/js/index.js"></script>
  </body>
</html>